* {
    margin: 0;
    padding: 0;
}

body {
    background-color: teal;
}

#container {
    display: flex;
    justify-content: center;
}

.etch {
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    width: 700px;
}

.divs {
    border: 1px solid bisque;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
}

h1 {
    display: flex;
    justify-content: center; 
    color: bisque;
    font-style: oblique;
}